@font-face{
    font-family: Norse;
    src: url(src/css/fonts/Norse/Norse-Bold.woff)
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    background-color: #F9FAFB;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

body > *{
    height: 100vh;
}

.sidebar{
    width: 16%;
    background-color: #0E0E0E;
    height: 100vh;
}

#sidebarImage{
    width: auto;
    height: 100vh;
}

#formArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    /*margin: 0 3%;*/
}

#formArea > * > *{
    margin: 0 5%;
}

input{
    border-color: #E5E7EB;
    border-radius: 5px;
}

label, input{
    display: flex;
    flex-direction: column;
}



label{
    text-transform: uppercase;
    font-size: smaller;
    font-family:'Times New Roman', Times, serif;
}

input:focus{
    background-color: lightblue;
}

#imageArea{
    position: relative;
}

img{
    position: relative;
}

#odinLogo{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#odinLogoBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#odinLogo img{
    height: 200px;
}

#odinLogo div{
    font-family: Norse;
    font-size: 2.5em;
}

#odinLogo div{
    color: white;
}

#photoCredit{
    position: absolute;
    bottom: 20px;
    left: 0px;
    right: 0px;
    width: 210px;
    margin: auto;
    color: #F9FAFB;
}

#photoCredit a{
    color: inherit;
}

form{
    display: grid;
    grid-template-columns: 60% 60%;
    grid-template-rows: 40% 40% 40%;
}

#formDiv{
    background-color: #FFFFFF;
    box-shadow: 10px 0px 10px #0E0E0E;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 20vh;
    max-height: 30vh;
    justify-content: center;
    gap: 4vh;
}

.leadText{
    font-weight: 600;
    font-size: larger;
}

#textArea, #buttonArea{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10vh;
}